.word-cloud-container {
    width: 100%;
    height: 50vh;
    padding-top: 3vh;

    #wordCloudSVGLeft {
        padding-top: 2vh;
        margin-left: 5%;
        width: 42%;
        height: 40vh;
    }
    #wordCloudSVGRight {
        padding-top: 2vh;
        margin-left: 6%;
        width: 42%;
        height: 40vh;
    }
}