.time-series-svg {
    width: 98%;
    height: 43vh;
    margin: 1%;
    .line {
        fill: none;
        stroke: steelblue;
        stroke-width: 2px;
    }
}

.time-series-container {
    background-color: white;
    margin: 2%;
    width: 96%;
    border-radius: 7px;
}

.xaxisGroup {
    font-size: 12px;
}

.tooltip {
    display: inline-block;
    min-width: 150px;
    min-height: 50px;
    background-color: white;
    text-align: center;
    border-radius: 7px;
    .text {
        margin: 0;
        padding-top: 7px;
        font-size: 18px;
    }
}