.word-cloud-container {
    width: 96%;
    margin: 0% 2%;

    .wordcloudcont {
       
        float: left;
        height: 63vh;
        margin-bottom: 20px;
        border-radius: 7px;
        padding:1%;
        box-sizing: border-box;
        background-color: #ffffff;

        h3 {
            background-color: #ffffff;
            text-align: center;
        }
    }
    #cancercloud{
        margin-right:1% ;
        width: 49%;

    }
    #tbcloud{
        margin-left:1% ;
        width: 49%;
    }
}